.wwj-register{
    margin-top: 1rem;
    padding: 5% 40%;
    .ant-form-item-control-wrapper{
        width: 100%;
    }
    .ant-form{
        .ant-form-item{
            display: flex;
            justify-content: center;
            width: 100%;
            .warn{
                height: 25px;
                position: absolute;
                line-height: 25px;
                margin-bottom: 0;
            }
            .submit-btn{
                width: 100%;
            }
            .login{
                float: right;
            }
        }
    }
}