
@header-bg-color:#333232;
@font-color:#3bc29b;
p{
    margin-bottom: 0 !important;
}
.wwj-community{
    
    .list-wrap{
        padding: 0.5rem 2rem;
        .title{
            font-size: 18px;
        }
        .list-item{
            border-top: 1px solid #ddd;
            padding-top: 0.2rem;
            margin-bottom: 20px;
            .header{
                display: flex;
                align-items: center;
                font-size: 16px;
                .user{
                    color: @font-color;
                    margin-right: 6px;
                }
            }
            .music{
                display: flex;
                align-items: center;
                height: 0.7rem;
                padding: 10px;
                margin-top: 18px;
                background-color: #ddd;
                &>img{
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                }
                .info{
                    font-size: 12px;
                    margin-left: 20px;
                }
            }
            .operation{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 12px;
                &>div{
                    margin-left: 12px;
                    .anticon{
                        cursor: pointer;
                    }
                }
            }
            .comment-area{
                margin-top: 20px;
                background-color: #ddd;
                padding: 10px;
                &>button{
                    float: right;
                    margin-top: 10px;
                    width: 80px;
                }
                .comments{
                    border-top: 1px solid #ccc;
                    min-height: 64px;
                    padding: 10px 0;
                    .text{
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        .user{
                            color: #3393fe;
                        }
                    }
                }
            }
            
        }
    }
    
}