@primary-color:#4ae096;
@font-color:#3bc29b;
.home{
    .banner{
        background: url('../../assets/bg.jpg');
        height: 5.2rem;
        background-size: 100% 100%;
        padding-top: .8rem;
        .banner-content{
            text-align: center;
            padding: 0 3rem;
            .list-wrap{
                width: 100%;
                height: 100%;
                color: #fff;
                .list-item{
                    width: 100%;
                }
                .list-item:nth-of-type(1){
                    font-family:PingFangSC-Semibold;
                    font-size:.18rem;
                    color:@primary-color;
                    line-height:.26rem;
                    margin-bottom: .1rem;
                }
                .list-item:nth-of-type(2) {
                    font-family:PingFangSC-Light;
                    font-size:.46rem;
                    line-height:.42rem;
                    margin-bottom: .3rem;
                }
                .list-item:nth-of-type(3) {
                    font-family:PingFangSC-Light;
                    font-size:.24rem;
                    line-height:.26rem;
                    margin-bottom: .3rem;
                }
                .list-item:nth-of-type(4) {
                    font-family:PingFangSC-Light;
                    font-size:.16rem;
                    line-height:.14rem;
                    margin-bottom: .4rem;
                }
                .list-item:nth-of-type(5) {
                    button{
                        cursor: pointer;
                        color: #fff;
                        background-image:linear-gradient(-137deg, #66d796 2%, #3bc29b 100%);
                        width:2.50rem;
                        height:.58rem;
                        border: none;
                        margin-bottom:.38rem;
                    }
                }
                .list-item:nth-of-type(6){
                    font-family:PingFangSC-Semibold;
                    font-size:.18rem;
                    line-height: .26rem;
                }
                .list-item:nth-of-type(7) {
                    cursor: pointer;
                    position: relative;
                    height: 0.6rem;
                    img{
                        width: .4rem;
                        height: .4rem;
                        position: absolute;
                        left: 50%;
                        margin-left: -0.2rem;
                        top: 0.2rem;
                    }
                }
            }
        }
    }
    .main-content{
        padding: 0 1rem;
        .category{
            padding: 0.8rem 0.5rem 1rem;
            background-color: #fff;
            .title{
                text-align: center;
                font-size: .48rem;
                font-weight: bold;
                font-family: Avenir;
                margin-bottom: .5rem;
                     
            }
            .movies, .music{
                font-family: Avenir;
                height: 4rem;
                color: #000;
                position: relative;
                display: flex;
                justify-content: space-around;
                .item{
                    width: 48%;
                    vertical-align: top;
                }
                .left{
                    padding-top: .2rem;
                    width: 35%;
                    height: 80%;
                    .text{
                        font-size: .36rem;
                        color: rgb(94, 101, 115);
                        text-align: left;
                        font-weight: 100;
                        margin-top: 0px;
                        position: relative;
                    }
                    .btn{
                        cursor: pointer;
                        background-image:linear-gradient(-137deg, #66d796 2%, #3bc29b 100%);
                        width:2.50rem;
                        height:.58rem;
                        border: none;
                        margin-bottom:.38rem;
                        border-radius: 0;
                        color: #fff;
                        margin-left: 0.3rem;
                    }
                }
                .right{
                    float: right;
                    height: 80%;
                    width: 60%;
                    padding: 0 .2rem;
                }
                
            }
            .music{
                height: 5rem;
    
                .left{
                    padding-top: 1.2rem;
                }
                .right{
                    float: left;
                    padding: 0;
                    width: 60%;
                    height: 100%;
                }
            }
        }
        .option{
            width: 100%;
            height:7.5rem;
            background: url('../../assets/bg@2x.jpg');
            background-size: 100% 100%;
            position: relative;
            .wrap,.content{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .wrap{
                background-color: #000;
                opacity: .5;
            }
            .content{
                z-index: 1;
                color: #fff;
                padding-top: .3rem;
                p{
                    font-size: .48rem;
                    text-align: center;
                }
                .content-wrap{
                    display: flex;
                    justify-content: center;
                    padding-top: .3rem;
                    .item{
                        width: 3rem;
                        height: 4rem;
                        background-color: #fff;
                        margin-right: .1rem;
                        border-radius: 2px;
                        cursor: pointer;
                        transition: all .3s ease;
                        position: relative;
                        color: @font-color;
                        padding: 0.3rem;
                        .item-title{
                            font-size: .18rem;
                            font-weight: 100;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: 700;
                            img{
                                width:.2rem;
                                height: .2rem;
                                margin-right: 0.1rem;
                            }
                        }
                        .list-wrap{
                            margin-top: .2rem;
                            .list-item{
                                color: #bcbfc0;
                                font-size: .14rem;
                                margin-bottom: .1rem;
                                display: flex;
                                align-items: center;
                                .check-mark{
                                    width: .3rem;
                                    height: .3rem;
                                    background: url('../../assets/arrow2@2x.png') no-repeat;
                                }
                                .info{
                                    display: none;
                                }
                                .hidden{
                                    display: block;
                                    position: absolute;
                                    right: 0;
                                    top: 0.8rem;
                                    width: 2rem;
                                    height: auto;
                                    color: #000;
                                    border: 1px solid #bcbfc0;
                                }
                            }
                            .active{
                                color: #000;
                                .check-mark{
                                    width: .3rem;
                                    height: .3rem;
                                    background: url('../../assets/arrow1@2x.png') no-repeat;
                                }
                            }
                            
                        }
                        .btn{
                            cursor: pointer;
                            background-image: linear-gradient(-137deg, #66d796 2%, #3bc29b 100%);
                            width: 2.50rem;
                            height: .4rem;
                            border: none;
                            margin-top: .38rem;
                            border-radius: 0;
                            color: #fff;
                            margin-left: 0.3rem;
                            font-size: .12rem;
                            line-height: .4rem;
                            text-align: center;
                        }
                    }
                    .item:after, .item:before{
                        position: absolute;
                        content: '';
                        top: 0;
                        width: 0%;
                        height: 4px;
                        background-color: @font-color;
                        transition: all 0.3s ease;
                    }
                    .item:after{
                        right: 0;
                    }
                    .item:before{
                        left: 0;
                    }
                    .item:hover{
                        margin-top: -0.2rem;
                        &:before{
                            width: 50%;
                        }
                        &:after{
                            width: 50%;
                        }
                    }
                }
                
            }
        }
    }
}