
@font-color:#3bc29b;
.music-details-content{
    cursor: pointer;
    .song-container{
        .list-item{
            color: #000;
            display: flex;
            justify-content: space-between;
            height: 45px;
            line-height: 45px;
            padding-left: 12px;
            &>p{
                flex: 1;
            }
            .operation{
                flex: 2;
                .anticon{
                    margin-right: 6px;
                }
            }
            .time{
                text-align: right;
                margin-right: 100px;
            }
        }
        .active{
            background-color: #f4f4f6;
        }
    }
}
.vertical-center-modal {
    text-align: center;
    white-space: nowrap;
}

.vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
}
.login-modal{
    width: 260px !important;
    .ant-modal-body{
        display: flex;
        justify-content: space-between;
        &>button{
            width: 80px;
            background-color: @font-color;
            border: none;
            color: #fff;
        }
    }
}