.music-list{
    visibility: hidden;
    overflow-y: auto;
    height: calc(~"100% - 30px");
    
    &:hover {
        visibility: visible;
    }
    .wrap{
        visibility: visible;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 .5rem;
    }
    .list-item{
        width: 16%;
        text-align: center;
    }
}